* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    /* background-image: linear-gradient(to right,#000811, #001F3F,#000811); */
    background-image: linear-gradient(to right, #ff5404b1, #2388dab4);
}

::-webkit-scrollbar {
    display: none;
}

.slideshow-container {
    position: relative;
    margin-block-start: 30px;
    background: #498dac;
    height: 150px;
}

.mySlides {
    place-items: center;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    top: 50px;
    display: none;
}

.prev, .next {
    position: absolute;
    top: 50%; /* Dikeyde %50'ye yerleştir */
    transform: translateY(-50%); /* Ortalamak için %50 yukarı kaydır */
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    color: #ead8b1;
    background: transparent;
    transition: color 0.3s ease;
}

.prev {
    left: 0; /* Sol kenara sabitle */
}

.next {
    right: 0; /* Sağ kenara sabitle */
}

.prev:hover,
.next:hover {
    background-color: #ffffffe1;
    color: #ff7930;
}

.quote {
    font-style: italic;
    color: #ffff;
}

.author {
    color: #001F3F;
    margin-bottom: 50px;

}

.home-movies-title {
    font-size: 38px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 1;
    color:#ffffff
}

.title-movies-container {
    transform: translate(0, 43px);
    text-align: center;
    padding: 25px;
    background: #cd591a;
}


#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie {
    flex-basis: calc(10% - 20px);
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 1);
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    max-height: 550px;
    font-size: 13px;

}

.movie img {
    width: 100%;

}

.movie-info {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin:0;
}

.movie-info span {
    background-color: #ff7930;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.overview {
    font-size: 11px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.941);
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in
}

.movie:hover {
    transform: scale(1.05);
}

.movie:hover .overview {
    transform: translateY(0);
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px; /* Footer'a biraz boşluk bırak */
}
  
#movie-list div {
    margin: 10px;
    text-align: center;
}
  
#movie-list img {
    max-width: 150px; /* Film poster boyutunu ayarlayın */
    border-radius: 8px;
}

/* Responsive tasarım için medya sorguları */
@media(max-width: 1200px) {
    .nav-links a {
        font-size: 14px;
    }

    .BSlogo {
        width: 110px;
    }

    #search-input {
        width: 200px;
    }

    #search-button {

        width: 70px;
    }
}

@media(max-width: 900px) {
    .nav-links a {
        font-size: 10px;
    }

    .BSlogo {
        width: 110px;
    }

    #search-input {
        width: 100px;
    }

    #search-button {
        width: 70px;
    }
}

/* Responsive tasarım için */
@media(max-width: 900px) {
    .movie {
        width: calc(50% - 1rem);
        /* Mobil cihazlarda 2 kart */
    }
}

@media(max-width: 600px) {
    .movie {
        width: calc(100% - 1rem);
        /* Küçük ekranlarda 1 kart */
    }
}
