* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-image: linear-gradient(to right,#000811, #001F3F,#000811); */
    background-image: linear-gradient(to right, #ff5404b1, #2388dab4);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    background-color: #ffffff;
    justify-content: flex-end;
}

.BSlogo {
    width: 160px;
}

.nav-title {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

.nav-link {
    margin: 15px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.nav-link:hover, .active {
    color: #ffb393;
}
.active {
    color: #db6a3a;
}

.search-container {
    background-color: transparent;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 25px;
    border-radius: 50%;
}

#search-input {
    padding: 10px;
    width: 350px;
    margin-right: 15px;
    border: 1px solid #E88D67;
    border-radius: 4px;
    outline: 0;
}

#search-input::placeholder {
    color: #a8a2ac;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #cd591a;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.search-button:hover {
    background-color: #ffc9b1;
    color: #d3754d;
}


.profile {
    display: flex;
    align-items: center;
}

.profile a {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #E88D67;
}

.profile a:hover {
    color: #ffb393;
}

.slideshow-container {
    position: relative;
    background: #498dac;
    margin-top: 20px;
}

.mySlides {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    top: 50px;
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #EAD8B1;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #ffffffe1;
    color: #ff7930;
}

q {
    font-style: italic;
    color: #ffff;
}

.author {
    color: #001F3F;
    margin-bottom: 50px;

}

.home-movies-title {
    font-size: 38px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 1;
    color:#ffffff
}

.title-movies-container {
    transform: translate(0, 43px);
    text-align: center;
    padding: 25px;
    background: #cd591a;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie {
    flex-basis: calc(10% - 20px);
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 1);
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    max-height: 550px;
    font-size: 13px;

}

.movie img {
    width: 100%;

}

.movie-info {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 100;
}

.movie-info span {
    background-color: #ff7930;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.overview {
    font-size: 11px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.941);
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in
}

.movie:hover {
    transform: scale(1.05);
}

.movie:hover .overview {
    transform: translateY(0);
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px; /* Footer'a biraz boşluk bırak */
}
  
#movie-list div {
    margin: 10px;
    text-align: center;
}
  
#movie-list img {
    max-width: 150px; /* Film poster boyutunu ayarlayın */
    border-radius: 8px;
}

/* 
.home-series-title {
    font-size: 38px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 2;
    color:#ffffff;
    display: block;
}

.title-series-container {
    text-align: center;
    padding: 20px;
    background: #4780a8;
    margin-bottom: 20px;
    border-radius: 8px;
}
  
#series-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
  
.series {
    width: 200px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
  
.series:hover {
    transform: scale(1.05);
}
  
.series img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
  
.series-info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.series-info h3 {
    margin-top: 0;
}

.series-info span {
    background-color: #ff7930;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.series:hover .overview {
    transform: translateY(0);
}

#series-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
  
#series-list div {
    margin: 10px;
    text-align: center;
}
  
#series-list img {
    max-width: 15px;
    max-height: 15px;
    border-radius: 8px;
} */

.footer {
    background-color: #cd591a;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 100;
    margin-top: 30px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-message {
    font-size: 20px;
}

.keep-watching {
    font-family: "Afacad Flux", sans-serif;
    font-size: 40px;
}

.owner {
    display: inline;
    font-size: 12px;
}

.name {
    display: inline;
    font-size: 14px;
    color: #001F3F;
}

.footer-social-media {
    margin-top: 10px;
}

.footer-social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    
}
.footer-social-media img {
    width: 19px; /* Genişlik ayarı */
    height: auto; /* Yüksekliği otomatik ayarlamak için */
    margin: 0 5px; /* İkonlar arasına boşluk eklemek için */
}

.footer-social-media a:hover {
    color: orangered;
}

/* Responsive tasarım için medya sorguları */
@media(max-width: 1200px) {
    .nav-links a {
        font-size: 14px;
    }

    .BSlogo {
        width: 110px;
    }

    #search-input {
        width: 200px;
    }

    #search-button {

        width: 70px;
    }
}

@media(max-width: 900px) {
    .nav-links a {
        font-size: 10px;
    }

    .BSlogo {
        width: 110px;
    }

    #search-input {
        width: 100px;
    }

    #search-button {
        width: 70px;
    }
}

/* Responsive tasarım için */
@media(max-width: 900px) {
    .movie {
        width: calc(50% - 1rem);
        /* Mobil cihazlarda 2 kart */
    }
}

@media(max-width: 600px) {
    .movie {
        width: calc(100% - 1rem);
        /* Küçük ekranlarda 1 kart */
    }
}