* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    /* background-image: linear-gradient(to right,#000811, #001F3F,#000811); */
    background-image: linear-gradient(to right, #ff5404b1, #2388dab4);
}