/* Genel stil */
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8ff93;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    background-color: #ffffff;
    justify-content: flex-end;
}

.BSlogo {
    width: 160px;
}

.nav-title {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

.nav-title a {
    margin: 15px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.nav-title a:hover {
    color: #ffb393;
}

.search-container {
    background-color: transparent;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 25px;
    border-radius: 50%;
    font-family: inherit;
}

#search-input {
    padding: 10px;
    width: 350px;
    margin-right: 15px;
    border: 1px solid #E88D67;
    border-radius: 4px;
    outline: 0;
}

#search-input::placeholder {
    color: #a8a2ac;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #E88D67;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.search-button:hover {
    background-color: #ffc9b1;
    color: #d3754d;
}


.profile {
    display: flex;
    align-items: center;
}

.profile a {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #E88D67;
}

.profile a:hover {
    color: #ffb393;
}


/* Slideshow stili */
.slideshow-container {
    position: relative;
    background: #f8ff93;
    margin-top: 20px;
}

.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Slideshow yön butonları */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* Dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #8f828256;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

q {
    font-style: italic;
}

.author {
    color: cornflowerblue;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,1);
    background-color:#ffffff;
    position: relative;
    overflow: hidden;
}.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Eşit boşluk bırakır */
}

.movie {
    width: calc(33.333% - 1rem); /* Her bir film kartının genişliğini ayarlama */
    margin: 0.5rem; /* Kartlar arasındaki boşluk */
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 1);
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

/* Responsive tasarım için */
@media(max-width: 900px) {
    .movie {
        width: calc(50% - 1rem); /* Mobil cihazlarda 2 kart */
    }
}

@media(max-width: 600px) {
    .movie {
        width: calc(100% - 1rem); /* Küçük ekranlarda 1 kart */
    }
}


.movie img{
    width: 100%;
}

.movie-info{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: orangered;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightblue;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in
}

.movie:hover .overview{
    transform: translateY(0);
}

/* Responsive tasarım için medya sorguları */
@media(max-width: 1200px) {
    .nav-links a {
        font-size: 14px;
    }

    .BSlogo {
        width: 110px;
    }

    #search-input {
        width: 200px;
    }
    #search-button{

        width: 70px;
    }
}

@media(max-width: 900px) {
    .nav-links a {
        font-size: 10px;
    }

    .BSlogo {
        width: 110px;
    }

    #search-input {
        width: 100px;
    }
    #search-button{
        width: 70px;
    }
}
