body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #94d0e2;
    border-bottom: 1px solid #5cd6d6;
    border-top: 1px solid #5cd6d6
}
.BSlogo{
    width: 160px;
}
.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.nav-links a {
    margin: 15px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.profile {   
    display: flex;
    align-items: center;
}
.profile a {
    font-size: 14px;
    margin-right: 5px;
    margin-left:10px;
    text-decoration: none;
    color: #007BFF;
}
.search-container {
    display: flex;
    align-items: center;
    margin-right:25px;   
}
#search-input {
    padding: 5px;
    width: 400px;
    margin-right: 10px;
    border: 1px solid #2112aa;
    border-radius: 4px;
}
#search-input::placeholder {
    color: #a8a2ac;
}
button {
    padding: 5px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 4px; 
    margin-right: 64px; 
}
.navbar a:hover,
.nav-links a:hover,
.profile a:hover,
    button:hover {
        color: #0056b3;
    }
